{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ absolute_url(asset('build/css/news.css')) }}" rel="preload stylesheet" as="style" onload="this.rel='stylesheet'" >
    <noscript><link rel="stylesheet" href="{{ absolute_url(asset('build/css/news.css')) }}" ></noscript>
{% endblock %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
    <meta property="article:author" content="admin" />
	<meta property="article:published_time" content="{{ post.getCreatedAt()|date("Y-m-d h:m:s") ~ "+07:00" }}" />
	<meta property="article:modified_time" content="{{ post.getUpdatedAt()|date("Y-m-d h:m:s") ~ "+07:00" }}" />
    <meta property="og:image" content="{{ vich_uploader_asset(post, 'imageFile') ? app.request.getUriForPath(vich_uploader_asset(post, 'imageFile')) : absolute_url(asset('assets/images/no-image.png')) }}" />
    <meta property="og:image:alt" content="{{ post.getTitle() }}" />
    <meta property="og:image:width" content="{{ imageSize ? imageSize[0] : '526' }}" />
    <meta property="og:image:height" content="{{ imageSize ? imageSize[1] : '275' }}" />
{% endblock %}

{% block body %}
    <div class="container page page-detail">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-9 page-detail-container">
                {# breadcrumbs #}
                {{ include('news/components/breadcrumbs.html.twig') }}

                <article id="post-{{ post.getId() }}" class="news">
                    <h1 class="entry-title block-title">{{ post.getTitle() }}</h1>
                    
                    <div class="news-container">
                        {{ contentsLazy|replace({'50I Trần Thị Bảy, KP 3, Phường Hiệp Thành, Quận 12, TP Hồ Chí Minh':'C40 - KDC Hiệp Thành - Nguyễn Thị Búp, Phường Hiệp Thành, Quận 12, TP Hồ Chí Minh', '088.609.4455':'0966.289.559'})|raw }}
                    </div>

                    {# Rating and Share #}
                    {# <div class="rating-share-container">
                        {{ include('news/rating/rating.html.twig') }}
                        {{ include('news/components/share.html.twig') }}
                    </div> #}

                    {# List comments #}
                    {# {{ include('news/comments/list.html.twig') }} #}
                    
                    {# Render form comment #}
                    {# {{ include('news/comments/form.html.twig') }} #}
                </article>
            </div>

            {{ include('layout/sidebar.html.twig') }}
        </div>
    </div>
{% endblock %}