{% if showSlide is defined %}
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
            <li data-target="#myCarousel" data-slide-to="5" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                {% set imagePath = asset('/assets/images/banner/xay-dung-kim-anh-1.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/xay-dung-kim-anh-1.jpg') | imagine_filter('banner_1500_550') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/xay-dung-kim-anh-1.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_550') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <picture>
                    <source
                        data-srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                        media="(max-width: 799px)" />
                    <source
                        data-srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                        media="(min-width: 800px)" />
                    <img
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                        alt="Xây Dựng Kim Anh"
                        class="lazyload" />
                </picture>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/xuan-2023-3.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/xuan-2023-3.jpg') | imagine_filter('banner_1500_550') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/xuan-2023-3.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_550') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <picture>
                    <source
                        data-srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                        media="(max-width: 799px)" />
                    <source
                        data-srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                        media="(min-width: 800px)" />
                    <img
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                        alt="Công Ty Xây Dựng Kim Anh"
                        class="lazyload" />
                </picture>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/cong-ty-xay-dung-kim-anh.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/cong-ty-xay-dung-kim-anh.jpg') | imagine_filter('banner_1500_550') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/cong-ty-xay-dung-kim-anh.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_550') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('homepage') }}">
                    <picture>
                        <source
                            data-srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            data-srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Công ty xây dựng uy tín"
                            class="lazyload" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Kim Anh</h2>
                        <p>Công Ty Xây Dựng Uy Tín Số #1 Tại TP HCM</p>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/banner-05.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/banner-05.jpg') | imagine_filter('banner_1500_550') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/banner-05.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_550') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('news_show', {'slug': 'bang-bao-gia-xay-nha-phan-tho-moi-nhat'}) }}">
                    <picture>
                        <source
                            data-srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            data-srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Xây Dựng Kim Anh"
                            class="lazyload" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Kim Anh</h2>
                        <p>Chuyên Thi Công Xây Nhà Trọn Gói Tại TP HCM</p>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/banner-thi-cong-phan-tho.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/banner-thi-cong-phan-tho.jpg') | imagine_filter('banner_1500_550') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/banner-thi-cong-phan-tho.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_550') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('news_show', {'slug':'bang-bao-gia-xay-nha-phan-tho-moi-nhat'}) }}">
                    <picture>
                        <source
                            srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Thi công xây dựng phần thô" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Kim Anh</h2>
                        <p>Chuyên Thi Công Xây Dựng Phần Thô Tại TP HCM</p>
                    </div>
                </div>
            </div>
            <div class="item">
                {% set imagePath = asset('/assets/images/banner/xay-dung-kim-anh-02.jpg') %}
                {% set imagePathFilter = asset('/assets/images/banner/xay-dung-kim-anh-02.jpg') | imagine_filter('banner_1500_550') %}
                {% set imagePathFilterMobile = asset('/assets/images/banner/xay-dung-kim-anh-02.jpg') | imagine_filter('banner_768_400') %}
                        
                {% if convert_images.fileExists(imagePath) == false %}
                    {% set imagePath = imagePath | imagine_filter('banner_1500_550') %}
                    {% set imagePathMobile = imagePath | imagine_filter('banner_768_400') %}
                {% else %}
                    {% set imagePath = convert_images.webpConvert(imagePathFilter, '', true) %}
                    {% set imagePathMobile = convert_images.webpConvert(imagePathFilterMobile, '', true) %}
                {% endif %}
                <a href="{{ path('homepage') }}">
                    <picture>
                        <source
                            data-srcset="{{ imagePathMobile != false ? absolute_url(imagePathMobile) : absolute_url(imagePathFilterMobile) }}"
                            media="(max-width: 799px)" />
                        <source
                            data-srcset="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            media="(min-width: 800px)" />
                        <img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ imagePath != false ? absolute_url(imagePath) : absolute_url(imagePath) }}"
                            alt="Thương Hiệu Của Sự Bền Vững"
                            class="lazyload" />
                    </picture>
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h2 class="text-uppercase">Xây Dựng Kim Anh</h2>
                        <p>Thương Hiệu Của Sự Bền Vững</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endif %}