{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ absolute_url(asset('build/css/contact.css')) }}" rel="preload stylesheet" as="style" onload="this.rel='stylesheet'" >
    <noscript><link rel="stylesheet" href="{{ absolute_url(asset('build/css/contact.css')) }}" ></noscript>
{% endblock %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
{% endblock %}

{% block body %}
    <div class="container contacts page-detail">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 page-detail-container">
                {{ include('news/components/breadcrumbs.html.twig') }}

                <div class="company">
                    <h1 class="text-uppercase">Công ty TNHH Tư Vấn Thiết Kế Xây Dựng Kim Anh</h1>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span><strong>VPGD: C40 - KDC Hiệp Thành - Nguyễn Thị Búp, P. Hiệp Thành, Quận 12, TP.HCM</strong></span>
                        </li>
                        <li>
                            <i class="fas fa-address-card"></i>
                            <span><strong>MST: 0314264130</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span><strong>0974 776 305 – 0966 289 559 – 0987 244 305 - A Tuấn</strong></span>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <span><strong>xaydungkimanh@gmail.com</strong></span>
                        </li>
                        <li>
                            <i class="fab fa-internet-explorer"></i>
                            <span><strong>www.xaydungkimanh.com</strong></span>
                        </li>
                    </ul>

                    <br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.172689309072!2d106.62786421431773!3d10.874466660351096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529fc088f21ef%3A0x83303dfe3b06e6c1!2zWMOCWSBE4buwTkcgS0lNIEFOSA!5e0!3m2!1sen!2s!4v1680400221718!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            {{ include('layout/sidebar.html.twig') }}
        </div>
    </div>
{% endblock %}